{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div style="text-align: center">
        <div class="Developer_introduce_title">
            <h3>개발자 정보</h3>
        </div>
        <div class="Developer_introduce">
            <div class="Developer1">
                <p>
                    천영성
                    <span class="material-symbols-outlined">
                        <a href="https://github.com/hokoro">
                            info
                        </a>
                    </span>
                </p>
            </div>
            <div class="Developer2">
                <p>
                    강서진
                    <span class="material-symbols-outlined">
                        <a href="https://github.com/20191694">
                            info
                        </a>
                    </span>
                </p>
            </div>
            <div class="Developer3">
                <p>
                    김장섭
                    <span class="material-symbols-outlined">
                        <a href="https://github.com/Heukseol">
                            info
                        </a>
                    </span>
                </p>
            </div>
            <div class="Developer4">
                <p>
                    이경근
                    <span class="material-symbols-outlined">
                        <a href="https://github.com/ansrnskfk">
                            info
                        </a>
                    </span>
                </p>
            </div>
            <div class="Developer5">
                <p>
                    이상훈
                    <span class="material-symbols-outlined">
                        <a href="https://github.com/sh364">
                            info
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
