.CM_introduce_title{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'NanumSquare', serif;
}
.CM_introduce_paragraph{
    padding-bottom: 2rem;
    font-family: 'NanumSquare', serif;
}
.CM_Map_Button{
    padding-bottom: 2rem;
    font-family: 'NanumSquare', serif;
}
.alert_message{
    font-weight: bold;
}
button{
    opacity: 1;
    border-radius: 40px;
}
.Button1_text{
        padding: 15px 20px;
        background-color: #444444;
        border-radius: 5px;
        color: #ffffff;
        display: none;
        position: relative;
        text-align: center;
}
.Button1:hover + .Button1_text{
    display: block;
}
.Button2_text{
        padding: 15px 20px;
        background-color: #444444;
        border-radius: 5px;
        color: #ffffff;
        display: none;
        position: relative;
        text-align: center;
}
.Button2:hover + .Button2_text{
    display: block;
}

.Button3_text{
        padding: 15px 20px;
        background-color: #444444;
        border-radius: 5px;
        color: #ffffff;
        display: none;
        position: relative;
        text-align: center;
}
.Button3:hover + .Button3_text{
    display: block;
}

a{
    text-decoration: none; /*text 밑줄 없애기*/
    color: #1e1e1e;
}
a:hover{ /*마우스를 올렸을떄*/
    color: orange;
}
.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}
.mw-200{
    max-width: 200px;
    padding: 1rem 1.5rem;
}

.footer{
    padding-bottom: 3rem;
    padding-top: 1rem;
}
.header_title{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.header_span{
    padding-top: 0.5rem;
}
p{
    font-size: 20px;
}
.NNS_B{
    font-family: 'NanumSquare', serif;
}
.sidebar_title{
    padding-top: 4.1rem;
}
.Developer_introduce_title{
    padding-bottom: 1rem;
}
.Developer_introduce{

}

.footer_information{
    padding-top: 1rem;
}
.Message_Text{
    color: red;
}
.Message_Button{

}