<div style="text-align: center;">
    <div class="header_title">
            <h1>
                <a href="{% url 'mainapp:mainpage' %}">
                    CHOSUN MAP
                </a>
            </h1>
    </div>
    <div class="header_span">
        <span class="material-symbols-outlined">
            <a href="https://www3.chosun.ac.kr/chosun/index...do?main=Y">
                home
            </a>
        </span>
        <span class="material-symbols-outlined">
            <a href="{% url 'mapapp:map'%}">
                map
            </a>
        </span>
        <span class="material-symbols-outlined">
            <a href="https://clc.chosun.ac.kr/">
                edit
            </a>
        </span>
        <span class="material-symbols-outlined">
            <a href="{% url 'mapapp:search' %}">
                search
            </a>
        </span>
        <span class="material-symbols-outlined">
            <a href="{% url 'mapapp:search' %}">
                reply
            </a>
        </span>
    </div>
</div>